// Navigation code here

.nav-container {
    width: 100%;
    background: @wild-sand;
    position: fixed;
    opacity: 0.9;
    top: 0px;
}

.logo {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    margin-bottom: 25px;

    @media @phone {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

nav {
    display: flex;
    justify-content: center;

    a {
        .navstyle();

        @media @phone {
            font-size: 13px;
            margin-right: 13px;
            margin-left: 13px;
        }
    }
}